HELP.md
.gradle
/build/
api/out/
api/build/
!gradle/wrapper/gradle-wrapper.jar
**/*.swp
**/.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.DS_Store

# Excel temporary
~$*.xls*
/.gradletasknamecache
